

.text-platzi
{
	color: #97c93e !important;
	font-weight: 700;
}

.btn-platzi
{
	background-color: #97c93e;
	color: white;
	font-weight: bold;
}

.btn-platzi:hover
{
	background-color: #7CB616;
	color: white;

}

span.badge
{
	padding: 5px;
}

#header
{
	/*position: relaive;*/
}

#header img
{
	width: 80px;
	margin-bottom: 2px;
	/*position: absolute;*/
	/*top: 10%;*/
	/*left: 10%;*/
}

#main .carousel-inner img
{
	max-height: 70vh;
	object-fit: cover; /*mantiene proporción de imagenes para que no se deformen*/
	filter: grayscale(70%);
}

#carousel 
{
	position: relative;

}


#carousel h1
{
	font-weight: 700;
}

#carousel p
{
	font-size: 14px;
}

#carousel .overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.5);
	color: white;
	z-index: 1;
}

#carousel .overlay .container, 
#carousel .overlay .row
{
	height: 100%;
}

.carousel-item
{
	transition: transform 2s ease, opacity .5s ease-out;
}


.explicacion
{
	display: inline-block;
	margin-bottom: 0px;
}

#place-time img
{
	max-width: 100%;
}

#place-time
{
	background-color: #343a40;
	color: white;
}

#footer
{
	background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a
{
	font-weight: 700;
	color: white;
}